In [1]:
# Dependencies
import pandas as pd
import json
import requests
from config import api_key
from pandas import json_normalize
from pprint import pprint
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [50]:
us_rig_count_file = "static/data/RigCountData_Cleaned2.csv"
df1a = pd.read_csv(us_rig_count_file)
df1a = df1a.rename(columns ={"Full Date":"date", "Total":"rig_count", "Location":"basin_name"})
df1a['date'] = pd.to_datetime(df1a['date'])
df1a
# count = us_rig_count_df["basin_name"].value_counts()
# count
df2a = df1a.loc[(df1a['basin_name'] == 'Haynesville'), ['basin_name','date', 'rig_count']]
df2a['size'] = df2a['rig_count']/5
df2a.to_csv("static/data/us_rigcount/Haynv_rigcount.csv", index=True)

df2b = df1a.loc[(df1a['basin_name'] == 'Permian'), ['basin_name','date', 'rig_count']]
df2b['size'] = df2b['rig_count']/5
df2b.to_csv("static/data/us_rigcount/permian_rigcount.csv", index=True)

df2c = df1a.loc[(df1a['basin_name'] == 'DJ-Niobrara'), ['basin_name','date', 'rig_count']]
df2c['size'] = df2c['rig_count']/5
df2c.to_csv("static/data/us_rigcount/niobrara_rigcount.csv", index=True)

df2d = df1a.loc[(df1a['basin_name'] == 'Barnett'), ['basin_name','date', 'rig_count']]
df2d['size'] = df2d['rig_count']/5
df2d.to_csv("static/data/us_rigcount/barnett_rigcount.csv", index=True)

df2e = df1a.loc[(df1a['basin_name'] == 'Fayetteville'), ['basin_name','date', 'rig_count']]
df2e['size'] = df2e['rig_count']/5
df2e.to_csv("static/data/us_rigcount/fayet_rigcount.csv", index=True)

df2f = df1a.loc[(df1a['basin_name'] == 'Eagle Ford'), ['basin_name','date', 'rig_count']]
df2f['size'] = df2f['rig_count']/5
df2f.to_csv("static/data/us_rigcount/eagleford_rigcount.csv", index=True)

df2e = df1a.loc[(df1a['basin_name'] == 'Granite Wash'), ['basin_name','date', 'rig_count']]
df2e['size'] = df2e['rig_count']/5
df2e.to_csv("static/data/us_rigcount/granite_rigcount.csv", index=True)

df2f = df1a.loc[(df1a['basin_name'] == 'Williston'), ['basin_name','date', 'rig_count']]
df2f['size'] = df2f['rig_count']/5
df2f.to_csv("static/data/us_rigcount/williston_rigcount.csv", index=True)

df2g = df1a.loc[(df1a['basin_name'] == 'Utica'), ['basin_name','date', 'rig_count']]
df2g['size'] = df2g['rig_count']/5
df2g.to_csv("static/data/us_rigcount/utica_rigcount.csv", index=True)

df2h = df1a.loc[(df1a['basin_name'] == 'Marcellus'), ['basin_name','date', 'rig_count']]
df2h['size'] = df2h['rig_count']/5
df2h.to_csv("static/data/us_rigcount/Marcellus_rigcount.csv", index=True)

df2i = df1a.loc[(df1a['basin_name'] == 'Mississippian'), ['basin_name','date', 'rig_count']]
df2i['size'] = df2i['rig_count']/5
df2i.to_csv("static/data/us_rigcount/Mississippian_rigcount.csv", index=True)

df2j = df1a.loc[(df1a['basin_name'] == 'Ardmore Woodford'), ['basin_name','date', 'rig_count']]
# # df2a['size'] = df2a['value']/100
df2j.to_csv("static/data/us_rigcount/ArdmoreWoodford_rigcount.csv", index=True)

df2k = df1a.loc[(df1a['basin_name'] == 'Arkoma Woodford'), ['basin_name','date', 'rig_count']]
# # df2a['size'] = df2a['value']/100
df2k.to_csv("static/data/us_rigcount/ArkomaWoodford_rigcount.csv", index=True)

df2l = df1a.loc[(df1a['basin_name'] == 'Cana Woodford'), ['basin_name','date', 'rig_count']]
# # df2a['size'] = df2a['value']/100
df2l.to_csv("static/data/us_rigcount/canaWoodford_rigcount.csv", index=True)

df3 = df1a.loc[(df1a['basin_name'] == 'Total US RigCount'), ['basin_name','date', 'rig_count']]
# # df2a['size'] = df2a['value']/100
df3.to_csv("static/data/us_rigcount/totalus_rigcount.csv", index=True)
df3

             basin_name       date  rig_count
8925  Total US RigCount 2011-02-04       1739
8926  Total US RigCount 2011-02-11       1721
8927  Total US RigCount 2011-02-18       1713
8928  Total US RigCount 2011-02-25       1699
8929  Total US RigCount 2011-03-04       1707
...                 ...        ...        ...
9515  Total US RigCount 2022-05-27        727
9516  Total US RigCount 2022-06-03        727
9517  Total US RigCount 2022-06-10        733
9518  Total US RigCount 2022-06-17        740
9519  Total US RigCount 2022-06-24        753

[595 rows x 3 columns]